@font-face {
  font-family: gulugulu;
  src: url(../src/assets/fonts/FKScreamerLegacyTrial-Upright-BF6571330a902da.otf);
}
@font-face {
  font-family: jalebi;
  src: url(../src/assets/fonts/DMSans_18pt-Regular.ttf);
}
@font-face {
  font-family: anton;
  src: url(../src/assets/fonts/Anton-Regular.ttf);
}
@font-face {
  font-family: pacifico;
  src: url(../src/assets/fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: barri;
  src: url(../src/assets/fonts/Barriecito-Regular.ttf);
}
@font-face {
  font-family: cave;
  src: url(../src/assets/fonts/CaveatBrush-Regular.ttf);
}
@font-face {
  font-family: teko;
  src: url(../src/assets/fonts/Teko-Regular.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  color: white;
background-color: black;

}
.homepage{
   
  
 
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
 
  display: grid;
  grid-template-rows:  100vh;
  grid-template-columns: 100%;
  text-align: center;
 

}
.navbar{
  margin-top: 3rem;
  padding: 0 3%;
  position: fixed;
  top: 0;
  left: 0;
   width: 100%;
  height: 15vh;
 z-index: 1000;
  min-height: 60px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
}
.logo{
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
 
   font-family: "teko";
   font-size: 1.5rem;
   line-height: 100%;
}
.tagline{
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}
.logo img{
  width: auto;
  height: 60%;
  min-height: 55px;
 object-fit: contain;
}
.nav-space{
  width: 100%;  
  height: 100%;
 
}
.nav-menu{
  font-family: "gulugulu";
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;  
  height: 100%;
  white-space: nowrap;
  cursor: pointer;
}
.nav-menu i{
  font-weight: 900;
  display: inline-block;
  transform: rotate(45deg);
  font-style: bold;
}
.home-text{
 

  text-align: center;
 display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  font-family: "gulugulu";
  font-size: 10.5VW;
  font-weight: 800;
  line-height: 110%;
  
}
 .showcase{
 height: 10vw;
 width: 14vw;

  

 
 overflow: hidden;

  transform-origin: 57% center;
 border-radius: 1vmax;
  
  
}
.showcase video{
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}
.video-show{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 

 
}
.center-txt{
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  
}

.specialities{
  width: 100%;
  height: 100vh;
  
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
  font-family: "gulugulu";
  font-size: 9VW;
  font-weight: 800;
  line-height: 110%;
  flex-wrap: nowrap;
 
}
.specs-firstl{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  
  align-items: center;
  justify-content: center;
  gap: 1%;
}
.img-div1{
 height: 7vw;
 width: 12vw;
 
 border-radius: 1vmax;
background-image: url("https://buildthebandwagon.com/_next/image?url=https%3A%2F%2Fbuildthebandwagon.s3.eu-west-1.amazonaws.com%2Fbuildthebandwagon%2FDSC-246%20(1).jpg&w=1080&q=75");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.specs-secondl{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  
  align-items: center;
  justify-content: center;
  gap: 1%;
}
.img-div2{
 height: 7vw;
 width: 12vw;
 
 border-radius: 1vmax;
background-image: url("https://buildthebandwagon.com/_next/image?url=https%3A%2F%2Fbuildthebandwagon.s3.eu-west-1.amazonaws.com%2Fbuildthebandwagon%2Fair-live-radio-streaming-banner-mic.jpg&w=1080&q=75");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.specs-thirdl{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  
  align-items: center;
  justify-content: center;
  gap: 1%;
}
.img-div3{
 height: 7vw;
 width: 12vw;
 
 border-radius: 1vmax;
background-image: url("https://buildthebandwagon.com/_next/image?url=https%3A%2F%2Fbuildthebandwagon.s3.eu-west-1.amazonaws.com%2Fbuildthebandwagon%2F20220928_121136.jpg&w=1080&q=75");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}



.word1{
  position: relative;
  --after-width: 0%;
  display: inline-block;
  color: rgba(255, 255, 255, 0.227);
}
.word1::after{
  content: "EXPERIENCE";
  position: absolute;
    left: 0;
    z-index: 11;
    opacity: 1;
     color: white;
     flex-wrap: nowrap;
      width: var(--after-width);
     overflow: hidden;
}
.word2{
  position: relative;
   --secondword:0%;
   color: rgba(255, 255, 255, 0.227);
   display: inline-block;
  
}
.word2::after{
  content: "ARCHITECTS";
  position: absolute;
    left: 0;
    z-index: 11;
    opacity: 1;
     color: white;
     flex-wrap: nowrap;
      width: var(--secondword);
     overflow: hidden;
}
.word3{
  position: relative;
   --thirdword:0%;
   color: rgba(255, 255, 255, 0.227);
   display: inline-block;
  
}
.word3::after{
  content: "TACTIAL";
  position: absolute;
    left: 0;
    z-index: 11;
    opacity: 1;
     color: white;
     flex-wrap: nowrap;
      width: var(--thirdword);
     overflow: hidden;
}
.word4{
  position: relative;
   --fourthword:0%;
   color: rgba(255, 255, 255, 0.227);
   display: inline-block;
  
}
.word4::after{
  content: "STORYTELLERS";
  position: absolute;
    left: 0;
    z-index: 11;
    opacity: 1;
     color: white;
     flex-wrap: nowrap;
      width: var(--fourthword);
     overflow: hidden;
}
.word5{
  position: relative;
   --fifthword:0%;
   color: rgba(255, 255, 255, 0.227);
   display: inline-block;
  
}
.word5::after{
  content: "AND CHANGE";
  position: absolute;
    left: 0;
    z-index: 11;
    opacity: 1;
     color: white;
     flex-wrap: nowrap;
     white-space:nowrap;
      width: var(--fifthword);
     overflow: hidden;
}
.word6{
  position: relative;
   --sixthword:0%;
   color: rgba(255, 255, 255, 0.227);
   display: inline-block;
  
}
.word6::after{
  content: "MAKERS";
  position: absolute;
    left: 0;
    z-index: 11;
    opacity: 1;
     color: white;
     flex-wrap: nowrap;
      width: var(--sixthword);
     overflow: hidden;
}

.team{
  width: 100%;
  height: 100vh;
  font-size: 19vw;
  font-weight: 800;
  line-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "gulugulu";
  position: relative;
}
.cards-container{
  width: 100%;
  height: fit-content;
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: -150%;
  align-items: center;
}
.card{
  width: 25vmax;
  height: 35vmax;
display: flex;
flex-direction: column;
justify-content: end;
  border-radius: 1vmax;
  font-size: 13vw;
  
}

.card1{
  transform: rotate(-5deg);
  background-image: url(https://ntvb.tmsimg.com/assets/assets/509114_v9_bb.jpg);
   background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card2{
  background-image: url(https://www.hindustantimes.com/ht-img/img/2024/12/22/1600x900/Varun_Dhawan_1734844252803_1734844262744.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card3{
  transform: rotate(5deg);
  background-image: url(https://i.pinimg.com/236x/b6/84/ae/b684aef323c9e64059a57037d57e5528.jpg);
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.events{
width: 100%;
height: 100vh;

display: flex;
align-items: center;
overflow: hidden;
}
.horizontal-div{
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
}

.event-card{
   width: 30vw;
  height: 35vw;
 
  border-radius: 1vmax;
  flex-shrink: 0;
  margin-left: 5vmax;
  margin-right: 5vmax;
  object-fit: cover;
  object-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
}
.event-card video{
  width: 100%;
}
   



.information{
  width: 100%;
  height: 400vh;
  position: relative;
}
.sidelook{
  width: 30%;
  height: 100vh;

margin-right: 2%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}
.first-info{
  width: 70%;
  height: 25%;
 
}
.second-info{
  width: 70%;
  height: 25%;
 
}
.third-info{
  width: 70%;
  height: 25%;
  
}
.fourth-info{
  width: 70%;
  height: 25%;
 display: flex;
 align-items: center;
 justify-content: center;

  
}
.free{
  width: 100%;
  height: 100vh;

}
.releted-pic{
  width: 35vh;
  height: 35vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.releted-pic img{
  width: 100%;
  height: 100%;
}

.information h3{
  font-size: 6vw;
  font-family: "gulugulu";
  margin-bottom: 2vh;
}
.information p{
  font-size: 3vw;
  font-family: "gulugulu";
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 2%;
}




.about{
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 font-family: "Electrolize", sans-serif;
 font-size: 6.5vh;
 position: relative;
 
}
.about-text{
 
   text-align: center;
 display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  
  font-size: 4.5vw;
  font-weight: 800;
  line-height: 110%;
}
.about-line1{
  text-wrap: none;
}
.about-line2{
  display: flex;
  flex-wrap: nowrap;
align-items: center;
gap: 5px ;
}
.span1{
   font-family: "Krub", sans-serif;
   color: skyblue;
  
}
.span2{
  font-family: "Edu VIC WA NT Hand", cursive;
   
   font-weight: 50;
}
.knowmore{
  margin-top: 5vh;
  border: none;
  color: white;
  font-weight: 600;
  background-color: rgb(254, 30, 127);
  padding: 1.5vw 2.5vw;
  font-size: 1.3vw;
  font-family:  "Electrolize", sans-serif;
}

.journey{
  width: 100%;
  height: 20vh;
 
  position: absolute;
  bottom: 0;
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.journey-cont{
  display: flex;
  gap: 5vw;
}

.footer{
  width: 100%;
  height: 70vh;
  word-spacing: 2px;
  display: grid;
  grid-template-columns: 50% 20% 30%;
 margin: 0;
 padding: 0;
 font-family: "Edu VIC WA NT Hand", cursive;
 overflow-x: hidden;
border-top:solid 2px rgba(255, 255, 255, 0.163);
border-radius: 30px;
}
.footer-logo{
 width: 100%;
 height: 100%;
gap: 1.5vw;
 padding: 5%;
 display: flex;
 flex-direction: column;
 align-items: left;
 justify-content: center;
}
.footer-logo img{
  width: 7vh;
  width: 7vh;
  border-radius: 50%;
}
.footer-logo span {
  font-size: 2.2vh;
}
.media {
  display: flex;
  align-items: flex-start;
  gap: 3%;
}
.social {
  width: 4vh;
  height: 4vh;
  background-color: rgb(218, 218, 218);
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.footer-link{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2vw;
  justify-content: center;
 width: 100%;
 height: 100%;

}
.footer-link ul{
  padding-left: 1vw;
  cursor: pointer;
}
.footer-number{
 width: 100%;
 height: 100%;

 display: flex;
 flex-direction: column;
 align-items: start;
 justify-content: center;
 padding: 2vw;
}
.footer-number ul{
  padding-left: 1vw;
  cursor: pointer;
}

.full-logo{
  gap: 1vw;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 2vh;
 

}




.menu-items{
  width: 100%;
  height: 110vh;
  position: fixed;
  top:-110%;
  left: 0;
 
  z-index: 999;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 3%;
  font-family: "gulugulu";
  padding: 10%;
  letter-spacing: 1px;
  word-spacing: 3px;
  
}
.menu-items h5{
font-size: 18vh;
font-weight: 800;
font-style: bold;
}

@media screen and (max-width: 800px) {
  .homepage{
  padding: 3%;
  font-size: 3rem;
}
  .navbar{
   grid-template-columns: 70%  30%;
   height: 10vh;
   
}
.logo{
  justify-content: left;
   font-size: 1.2rem;
   line-height: 100%;
}
.nav-space{
  display: none;
}
.nav-menu{
  
  font-size: 3rem;
  
}

.home-text{
 

 
  font-size: 15vw;
  font-weight: 800;
  line-height: 100%;
  position: relative;
  
}
 .showcase{
  height: 11vw;
 width: 15vw;

 overflow: hidden;
  transform-origin: 59% center;
 border-radius: 1vmax;
 margin-top: 0;
 padding: 0;
 display: flex;
 align-items: center;
  justify-content: center;
  
  
}
.showcase video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  object-position: center;
}
.video-show{
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

}


.specialities{
  width: 100%;
  height: 100vh;
  font-size: 12vw;
  font-weight: 800;

 
}

.cards-container{
  
  
  flex-direction: column;
  
}
.card{
  width: 25vmax;
  height: 35vmax;
  background-color: red;
  margin-top: 10vh;
  
}
.event-card{
   width: 35vmax;
  height: 45vmax;
 
}
.info{
  width: 100%;
  height: 50vh;
}
.information{
  width: 100%;
  height: 200vh;
  position: relative;

 
}
.free{
  height: 0%;
  
}
.sidelook{
display: none;

}
.information h3{
  font-size: 6vh;
  font-family: "gulugulu";
  margin-bottom: 2vh;
}
.information p{
  font-size: 2vh;
  font-family: "gulugulu";
}
.about-text{
  font-size: 7vw;
}
.knowmore{
  
  font-size: 2.5vh;
  font-family:  "Electrolize", sans-serif;
}


.footer{
  
  grid-template-columns: 100%;padding: 5vw;
 
}
.full-logo{
  gap: 1vw;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 3vw;
 

}

.menu-items h5{
font-size: 18vw;
font-weight: 800;
font-style: bold;
}

}